<a href="https://colab.research.google.com/github/JumpNShootMan/TP_MachineLearning/blob/Develop/TP_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Trabajo Parcial de Machine Learning

In [ ]:
from google.colab import drive
drive.mount("/content/drive/")

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
!pip install opencv-python==3.4.2.16
!pip install opencv-contrib-python==3.4.2.16
import cv2
import numpy as np
import pandas as pd
import os
from sklearn.cluster import KMeans
from matplotlib import pyplot as plt

Requirement already satisfied: opencv-python==3.4.2.16 in /usr/local/lib/python3.6/dist-packages (3.4.2.16)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from opencv-python==3.4.2.16) (1.18.5)
Requirement already satisfied: opencv-contrib-python==3.4.2.16 in /usr/local/lib/python3.6/dist-packages (3.4.2.16)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from opencv-contrib-python==3.4.2.16) (1.18.5)

In [ ]:
data = pd.read_csv('/content/drive/My Drive/2020-2/Machine_Learning/Datasets/datos_banco.csv', encoding='latin-1')

data.head()

          idPrestamo  target  ... default_request_term  default_request_amount
0  LIBDISP9832897855       1  ...                    1                       0
1  LIBDISP9021501745       1  ...                    0                       0
2  LIBDISP4057314971       0  ...                    0                       0
3  LIBDISP8375185888       0  ...                    0                       0
4  LIBDISP9694463037       0  ...                    1                       0

[5 rows x 14 columns]